<template>
  <footer>
    <p>Contadorers {{ counterQty }}</p>
    <p>Suma {{ counterValueTotals }}</p>
  </footer>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AppFooter',
  computed: {
    ...mapGetters('counter', ['counterQty', 'counterValueTotals']),
  },
}
</script>
<style scoped>
footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
p {
  background-color: var(--primary);
  padding: 6px 10px;
  color: #fff;
  border-radius: 8px;
  font-size: 12px;
}
</style>
