<template>
<div class="header-container">
  <h1>Counter App</h1>
  <div class="btn-container">
    <app-icon-btn @click="showModal({ component: 'counter-create'})">
      <img :src="require('/static/plus-solid.svg')" class="svg-icon"/>
    </app-icon-btn>
    <app-icon-btn @click="showModal({ component: 'counter-filter'})">
      <img :src="require('/static/filter-solid.svg')" class="svg-icon"/>
    </app-icon-btn>
  </div>
</div>
</template>
<script>
import { mapMutations } from 'vuex';
import AppIconBtn from './AppIconBtn.vue'

export default {
  name: 'AppHeader',
  components: {
    AppIconBtn,
  },
  methods: {
    ...mapMutations('modal', ['showModal']),
  },
}
</script>

<style scoped>
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #FFF;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.1);
  z-index: 5;
}
h1 {
  flex-grow: 1;
  font-weight: bold;
}
.btn-container {
  display: flex;
  gap: 10px;
}
</style>