<template>
  <div class="input-container">
    <transition name="slide-top" appear>
      <p class="label" v-if="value !== ''">{{label}}</p>
    </transition>
    <input :value="value" @input="($evt) => $emit('input', $evt.target.value)" :placeholder="label" :type="type" min="min" max="max"/>
  </div>
</template>
<script>
export default {
  name: 'AppInput',
  props: {
    value: {
      type: [String, Number],
      required: true
    },
    label: {
      type: String,
      default: 'no-label',
    },
    type: {
      type: String,
      default: 'text',
    },
    min: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: 20,
    },
  }
}
</script>
<style scoped>
.input-container {
  flex-grow: 1;
  display: flex;
  position: relative;
}
input {
  display: block;
  border-radius: 8px;
  padding: 6px 8px;
  border: 1px solid #ccc;
  flex-grow: 1;
}
.label {
  background-color: #ccc;
  position: absolute;
  top: -10px;
  left:5px;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
}
</style>
