<template>
  <div :class="btnClass" @click="customClickEvent">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: 'AppIconBtn',
  props: {
    color: {
      type: String,
      default: 'primary',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    btnClass() {
      return {
        btn: true,
        'btn-black': this.color === 'black' && !this.disabled,
        'btn-danger': this.color === 'danger' && !this.disabled,
        'btn-primary': this.color === 'primary' && !this.disabled,
        'btn-disabled': this.disabled,
      }
    },
  },
  methods: {
    customClickEvent() {
      if (!this.disabled) this.$emit('click')
    },
  },
}
</script>
<style scoped>
.btn {
  color: white;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  flex: 1;
  width: 30px;
}
.btn-disabled {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}
</style>
