<template>
  <transition name="fade" appear>
    <div v-if="isVisible" id="backdrop">
      <div id="modal" @click="(evt) => evt.stopPropagation()">
        <component :is="modalComponent"/>
      </div>
    </div>
  </transition>
</template>
<script>
import { mapGetters } from 'vuex'
import AppBtn from './AppBtn.vue'
import AppInput from './AppInput.vue'

export default {
  name: 'AppModal',
  components: {
    AppBtn,
    AppInput,
  },
  computed: {
    ...mapGetters('modal', ['isVisible', 'modalComponent'])
  },
}
</script>
<style scoped>
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
#modal {
  width: 300px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
}

</style>
