<template>
    <div>
      <p class="label">{{ label }}</p>
    </div>
</template>
<script>
export default {
  name: 'AppSelect',
  props: {
    label: {
      type: String,
      default: 'no-label',
    },
  },
}
</script>
<style scoped>
.label {
  background-color: #fff;
  padding: 8px 10px;
  color: var(--primary);
  border: 2px solid var(--primary);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  flex: 1;
  min-width:120px;
}
</style>
