<template>
  <div>
    <h3>Crear Contador</h3>
    <app-input v-model.trim="modalName" label="Nombre del Contador" />
    <div class="btns-container">
      <app-btn label="Cancelar" color="black" @click="dismissModal" />
      <app-btn
        label="Crear"
        :disabled="createBtnStatusHandler"
        @click="createCounter"
      />
    </div>
  </div>
</template>
<script>
import { mapMutations } from 'vuex'
import AppInput from './AppInput.vue'
import AppBtn from './AppBtn.vue'
export default {
  name: 'CounterCreate',
  components: {
    AppInput,
    AppBtn,
  },
  data() {
    return {
      modalName: '',
    }
  },
  computed: {
    createBtnStatusHandler() {
      return this.modalName.length > 20 || this.modalName.length === 0
    },
  },
  methods: {
    ...mapMutations('counter', ['addCounter']),
    ...mapMutations('modal', ['hideModal']),
    createCounter() {
      this.addCounter({
        name: this.modalName,
      })
      this.modalName = ''
      this.hideModal()
    },
    dismissModal() {
      this.modalName = ''
      this.hideModal()
    },
  },
}
</script>
<style scoped>
.btns-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  gap: 10px;
}
h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}
</style>
