<template>
<div class="no-counter-container">
  <p>No tienes contadores,<br /> ¡Crea tu primer contador!</p>
  <div class="btn-container">
    <app-btn label="Crear Contador" @click="showModal({ component: 'counter-create'})"/>
  </div>
</div>
</template>
<script>
import { mapMutations } from 'vuex';
import AppBtn from './AppBtn.vue';

export default {
  name: 'NoCounters',
  components: {
    AppBtn,
  },
  methods: {
    ...mapMutations('modal', ['showModal']),
  },
}
</script>
<style scoped>
.no-counter-container {
  text-align: center;
  margin-top: 50px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.1);
}
.no-counter-container p {
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}
.btn-container {
  max-width: 200px;
  margin: 0 auto;
}
</style>