<template>
  <div>
    <h3>Ordenar</h3>
    <div class="input-container">
      <p
        :class="{
          'order-btn': true,
          'order-selected': orderBy === 'name',
          'order-no-selected': orderBy !== 'name',
        }"
        @click="onOrderSelect('name')"
      >
        Por Nombre {{ orderType === 'asc' ? 'Ascendente' : 'Descedente' }}
      </p>
      <p
        :class="{
          'order-btn': true,
          'order-selected': orderBy === 'value',
          'order-no-selected': orderBy !== 'value',
        }"
        @click="onOrderSelect('value')"
      >
        Por Valor {{ orderType === 'asc' ? 'Ascendente' : 'Descedente' }}
      </p>
    </div>
    <h3>Filtrar</h3>
    <div class="input-container">
      <app-input label="Por Nombre de Contador" v-model="counterName" />
      <app-input label="Por Valor Mínimo" v-model.number="minValue" type="number" :min="limits.min" :max="limits.max"/>
      <app-input label="Por Valor Máximo" v-model.number="maxValue" type="number" :min="limits.min" :max="limits.max"/>
    </div>
    <div class="btns-container">
      <app-btn label="Cancelar" color="black" @click="dismissModal" />
      <app-btn label="Aplicar" @click="setOrderAndFilterOnStore"/>
    </div>
  </div>
</template>
<script>
import { mapMutations } from 'vuex'
import AppInput from './AppInput.vue'
import AppBtn from './AppBtn.vue'
export default {
  name: 'CounterCreate',
  components: {
    AppInput,
    AppBtn,
  },
  data() {
    return {
      orderBy: 'name',
      orderType: 'asc',
      counterName: '',
      minValue: 0,
      maxValue: 20,
    }
  },
  methods: {
    ...mapMutations('modal', ['hideModal']),
    ...mapMutations('counter', ['setOrderAndFilter', 'limits']),
    dismissModal() {
      this.hideModal()
    },
    onOrderSelect(orderBy) {
      if (this.orderBy === orderBy) {
        this.orderType = this.orderType === 'asc' ? 'desc' : 'asc'
      } else {
        this.orderBy = orderBy
      }
    },
    setOrderAndFilterOnStore() {
      this.setOrderAndFilter({
        orderName: this.orderBy,
        orderType: this.orderType,
        filterName: this.counterName,
        filterMin: this.minValue,
        filterMax: this.maxValue,
      })
      this.hideModal()
    }
  },
}
</script>
<style scoped>
.btns-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  gap: 10px;
}
h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.order-btn {
  padding: 5px 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.order-no-selected {
  border: 2px solid #888;
}
.order-selected {
  border: 2px solid var(--primary);
}
</style>
