<template>
  <div class="counter-container">
    <p id="counter-name">{{counter.name}}</p>
    <div class="actions-container">
      <app-icon-btn @click="decrementCounter({ id: counter.id })">
        <img :src="require('/static/minus-solid.svg')" class="svg-icon"/>
      </app-icon-btn>
      <p id="count-display">{{ counter.value }}</p>
      <app-icon-btn @click="incrementCounter({ id: counter.id })">
        <img :src="require('/static/plus-solid.svg')" class="svg-icon"/>
      </app-icon-btn>
      <app-icon-btn @click="removeCounter({ id: counter.id })" color="danger">
        <img :src="require('/static/trash-solid.svg')" class="svg-icon"/>
      </app-icon-btn>
    </div>
  </div>
</template>
<script>
import { mapMutations } from 'vuex'
import AppIconBtn from './AppIconBtn.vue'

export default {
  name: 'CounterItem',
  props: {
    counter: {
      type: Object,
      required: true,
    }
  },
  components: {
    AppIconBtn
  },
  methods: {
    ...mapMutations('counter', ['removeCounter', 'incrementCounter', 'decrementCounter']),
  },
}
</script>
<style scoped>
.counter-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  flex-direction: column;
}
#counter-name {
  flex-grow: 1;
  padding: 15px;
  
}
#count-display {
  height:37px;
  width: 60px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #888;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  position:relative;
}
@media (min-width: 768px) {
  .counter-container {
    flex-direction: row;
  }
  #counter-name {
    padding: 0px;
  }
}
</style>
