<template>
  <div class="container">
    <div v-for="filter in filters" :key="filter.key">
      <p
        v-if="filter.value !== filter.default && filter.value !== ''"
        @click="removeFilter({ filter: filter.key })"
      >
        {{ filter.label }}: {{ filter.value }} <span>x</span>
      </p>
    </div>
  </div>
</template>
<script>
import { mapMutations } from 'vuex'

export default {
  name: 'CounterFilterTags',
  computed: {
    filters() {
      const labels = [
        {
          name: 'filterName',
          label: 'Nombre',
          default: '',
        },
        {
          name: 'filterMin',
          label: 'Mínimo',
          default: 0,
        },
        {
          name: 'filterMax',
          label: 'Max',
          default: 20,
        },
      ]
      return Object.entries(this.$store.getters['counter/getFilters']).map(
        (el) => {
          const [key, value] = el
          const label = labels.find((el) => el.name === key)
          return {
            key,
            value,
            label: label.label,
            default: label.default,
          }
        }
      )
    },
  },
  methods: {
    ...mapMutations('counter', ['removeFilter']),
  },
}
</script>
<style scoped>
.container {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
p {
  text-align: center;
  background-color: var(--primary);
  color: #fff;
  padding: 3px 15px;
  border-radius: 8px;
  display: flex;
  align-items: cenmter;
  cursor: pointer;
}
span {
  margin-left: 6px;
}
</style>
