:root {
  --primary: #007bff;
  --primary-accent: #0062cc;
}

body {
  background-color: #ccc;
  padding-top: 30px;
  padding-bottom: 50px;
}

p, h1, h3, input, button {
  font-family: 'Roboto', sans-serif;
}

.relative {
  position: relative;
}

.center {
  margin: 0 auto;
}
.flex-grow {
  flex-grow: 1;
}

.btn-black {
  background-color: #000;
  transition: all 0.5s ease;
}
.btn-black:hover {
  background-color: rgb(36, 36, 36);
}
.btn-primary {
  background-color: var(--primary);
  transition: all 0.5s ease;
}
.btn-primary:hover {
  background-color: var(--primary-accent);
}
.btn-danger {
  background-color: #dc3545;
  transition: all 0.5s ease;
}
.btn-danger:hover {
  background-color: #DC5745;
}

.svg-icon {
  height: 20px;
  display: inline-block;
}