<template>
  <div>
    <app-header />
    <Nuxt />
    <app-footer />
    <app-modal />
  </div>
</template>
<script>
import AppModal from '../components/AppModal.vue'
import AppHeader from '../components/AppHeader.vue'
import AppFooter from '../components/AppFooter.vue'

export default {
  name: 'CounterLayout',
  components: {
    AppModal,
    AppHeader,
    AppFooter,
  },
}
</script>
