<template>
  <div class="container">
    <counter-empty v-if="!counterQty" />
    <counter-no-match v-else-if="counterQty && !counters.length"/>
    <section v-else>
      <counter-filter-tags />
      <transition-group name="list" appear mode="out-in">
        <counter-item
          v-for="counter in counters"
          :key="counter.id"
          :counter="counter"
      /></transition-group>
    </section>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import CounterItem from '../components/CounterItem.vue'
import CounterEmpty from '../components/CounterEmpty.vue'
import CounterFilterTags from '../components/CounterFilterTags.vue'
import CounterNoMatch from '../components/CounterNoMatch.vue'

export default {
  name: 'IndexPage',
  components: {
    CounterItem,
    CounterEmpty,
    CounterFilterTags,
    CounterNoMatch
  },
  layout: 'CounterLayout',
  computed: {
    ...mapGetters('counter', ['counters', 'counterQty']),
  },
  methods: {
    ...mapMutations('counter', ['addCounter']),
  },
}
</script>
<style scoped>
.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
</style>
